.header
	background-color: $four
	padding: 10px 0
	+xs
		padding: 0
	&__inner
		display: flex
		align-items: center
		justify-content: space-between
	&__search
		padding: 0 20px
		+sm
			display: none

.logo
	&__link
		display: flex
		align-items: center
		+billabong
		font-weight: 400
		font-size: 40px
		+sm
			font-size: 30px
	&__icon
		width: 50px
		height: 50px
		margin-right: 8px
		+xs
			width: 62px
			height: 62px
	span
		padding-left: 20px
		position: relative
		&:before
			content: ''
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			width: 2px
			height: 60%
			background-color: #fff
		+xs
			display: none


.nav
	display: flex
	align-items: center
	&__link
		display: block
		width: 67px
		height: 50px
		&:not(:last-child)
			margin-right: 10px